<!DOCTYPE html>
<html>
  <body>
<div class="center">
  <h1 align="center">{{title}}</h1>
</div><br>
<div class="container">
  <div class="bcenter">
<button class="button" (click)="getMobiles()">Repos</button><br>
</div>
</div>
<br>
  

<table style="width:73%" align="center">
  <tr>
    <mat-form-field class="select">
      <mat-label>Languages</mat-label>
      <mat-select>
        <mat-option *ngFor='let language of languages' (click)="filterLangRepos(language)">{{language}}</mat-option>
        <mat-option (click)="getMobiles()">All</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class = "input">
      <input matInput type="text" name="todo" placeholder="Enter a todo" (change)="filterSearchRepos($event)">
    </mat-form-field>

  </tr>

  <tr *ngFor='let repo of repos'>
    <td><img src="{{repo.avatar}}" width="70" height="100"><h2>{{repo.author}}/{{repo.name}}</h2>
        <h4>{{repo.description}}</h4>
        <h5><strong>Stars:</strong> {{repo.stars}} <strong>Forks:</strong> {{repo.forks}}</h5>
    </td>
  </tr>
</table>
</body>
</html>